In [ ]:
import os
import sqlalchemy
import pandas as pd
from dotenv import load_dotenv

# How to connect Python to MySQL:
#https://yuthakarn.medium.com/how-to-not-show-credential-in-jupyter-notebook-c349f9278466

load_dotenv()

In [ ]:
#cities = pd.read_csv('cities_df.csv')
#airports = pd.read_csv('airports_df.csv')
#arrivals = pd.read_csv('arrivals_df_copy.csv')
weather = pd.read_csv('weather_df.csv')

In [ ]:
cities.to_sql('cities', 
              if_exists='append', 
              con=con, 
              index=False)

In [ ]:
airports.to_sql('airports',
              if_exists='append',
              con=con,
              index=False)

In [ ]:
arrivals.to_sql('arrivals', 
              if_exists='replace', 
              con=con, 
              index=False)

In [ ]:
weather.to_sql('weather', 
              if_exists='replace', 
              con=con, 
              index=False)

In [ ]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city_id         15 non-null     object
 1   city            15 non-null     object
 2   country         15 non-null     object
 3   elevation       12 non-null     float64
 4   city_latitude   15 non-null     float64
 5   city_longitude  15 non-null     float64
 6   population      15 non-null     int64
dtypes: float64(3), int64(1), object(3)
memory usage: 968.0+ bytes